*.tps
*.aux
*.cb
*.cb2
*.log
*.synctex
*.toc
*.lof
*.blg
*.bbl
*.out
*.bak
*.acn
*.acr
*.alg
*.glo
*.glsdefs
*.ist
*.upa
*.lot
thesis/anhangSoftwareZusatz/
*.lol
*.upb
prototype/helper/websocketclient/target/classes/
prototype/helper/websocketclient/target/test-classes/
prototype/broker/node_modules/
