*.tps
*.aux
*.cb
*.cb2
*.log
*.synctex
*.toc
*.lof
*.blg
*.bbl
*.out
*.bak
*.acn
*.acr
*.alg
*.glo
*.glsdefs
*.ist
*.upa
*.lot
thesis/anhangSoftwareZusatz/
*.lol
*.upb
prototype/helper/websocketclient/target/classes/
prototype/helper/websocketclient/target/test-classes/
prototype/broker/node_modules/
*.classpath
*.project
prototype/helper/proto2tex/target/classes/
prototype/helper/proto2tex/target/maven-archiver/
prototype/helper/proto2tex/target/surefire-reports/
prototype/helper/proto2tex/target/test-classes/
prototype/prototypes/protocon/target/classes/
prototype/prototypes/protocon/target/surefire-reports/
prototype/prototypes/protocon/target/maven-archiver/
prototype/prototypes/protocon/target/MANIFEST.MF
prototype/prototypes/protocon/.settings/
prototype/prototypes/protocon/target/test-classes/
prototype/prototypes/protopub/target/classes/
prototype/prototypes/protopub/target/surefire-reports/
prototype/prototypes/protopub/target/maven-archiver/
prototype/prototypes/protopub/bin/
prototype/prototypes/protopub/target/test-classes/
prototype/helper/websocketclient/target/maven-archiver/
prototype/helper/websocketclient/target/surefire-reports/
prototype/prototypes/protopubStorm/target/classes/
prototype/prototypes/protopubStorm/target/test-classes/
prototype/prototypes/protopubStorm/target/maven-archiver/
prototype/prototypes/protopubStorm/target/surefire-reports/
prototype/prototypes/protopubKafka/target/classes/
prototype/prototypes/protopubKafka/target/maven-archiver/
prototype/prototypes/protopubKafka/target/test-classes/
prototype/prototypes/protopubKafka/target/surefire-reports/
prototype/prototypes/protopubKafka/.settings/
prototype/prototypes/protopubFlume/target/classes/
prototype/prototypes/protopubFlume/target/maven-status/
prototype/prototypes/protopubFlume/target/maven-archiver/
prototype/prototypes/protopubFlume/.settings/
prototype/prototypes/protopubFlume/target/test-classes/
prototype/prototypes/protopubFlume/target/surefire-reports/
*.dep
*.dpth
thesis/plot.pdf
*.auxlock
prototype/prototypes/protopubS4/target/classes/
prototype/prototypes/protopubS4/target/maven-status/
prototype/prototypes/protopubS4/target/maven-archiver/
prototype/prototypes/protopubS4/target/surefire-reports/
prototype/prototypes/protopubS4/.settings/
prototype/prototypes/protopubS4/target/test-classes/
prototype/prototypes/protopubS4/target/lib/
