<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="true" xmlns:log4j='http://jakarta.apache.org/log4j/'>
  <appender name="console" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
    </layout>   
       
  </appender>
  <appender name="file" class="org.apache.log4j.RollingFileAppender">
    <param name="append" value="false" />
    <param name="maxFileSize" value="50MB" />
	<param name="maxBackupIndex" value="5" />
	<param name="file" value="measure.log" />
	<layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%m%n" />
	</layout>
    <filter class="org.apache.log4j.varia.LevelMatchFilter">
      <param name="LevelToMatch" value="MEASURE#lan.s40907.protocon.MeasureLog4jLevel" />
      <param name="AcceptOnMatch" value="true" />             
    </filter>
    <filter class="org.apache.log4j.varia.DenyAllFilter"/>
  </appender>
  <appender name="traceFile" class="org.apache.log4j.RollingFileAppender">
    <param name="append" value="false" />
    <param name="maxFileSize" value="1024KB" />
	<param name="maxBackupIndex" value="5" />
	<param name="file" value="measureTrace.log" />
	<layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
	</layout>
    <filter class="org.apache.log4j.varia.LevelMatchFilter">
      <param name="LevelToMatch" value="TRACE" />
      <param name="AcceptOnMatch" value="true" />             
    </filter>
    <filter class="org.apache.log4j.varia.DenyAllFilter"/>
  </appender>  
  <logger name="lan.s40907">
    <level value="INFO"/>
    <appender-ref ref="console" />
    <appender-ref ref="file" />
    <appender-ref ref="traceFile" />
  </logger>
  <root>
    <priority value="DEBUG" />
  </root>
</log4j:configuration>